{% extends "template/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/stade.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <h3>Résumé des évènements du match contre {{ match.equipeAdverse }}</h3>
            <div class="col-md-8 p-5 mt-3" style="background-color: white; border-radius: 3px; min-height: 100px;">
                <div id="sorted-events">
                    {% set ownGoals = 0 %}
                    {% set opponentGoals = 0 %}
                    {% for event in events %}
                        <div class="col-12">
                            <div class="row">
                                <div class="col-2">
                                    <b>{{ event.temps }}'</b>
                                </div>
                                <div class="col-10">
                                    {% if event == "butAdverse" %}
                                        {% set opponentGoals = opponentGoals+1 %}
                                        <div style="position: absolute; right: 0;">
                                            <h5 class="text-danger">{{ match.equipeAdverse }} a marqué ({{ ownGoals}}/{{ opponentGoals }})</h5>
                                        </div>
                                    {% elseif event == "but" %}
                                        {% set ownGoals = ownGoals+1 %}
                                        <div style="position: absolute; left: 0;">
                                            <h5 class="text-success">{{ event.joueur }} a marqué ({{ ownGoals}}/{{ opponentGoals }})</h5>
                                        </div>
                                    {% elseif event == "changement" %}
                                        {% if event.entreeJoueur is defined %}
                                            <div style="position: absolute; left: 0;">
                                                <h5>{{ event.entreeJoueur }} a remplacé {{ event.sortieJoueur }}</h5>
                                            </div>
                                        {% else %}
                                            {% if event.tempsDeSortie %}
                                                <div style="position: absolute; left: 0;">
                                                    <h5>{{ event.sortieJoueur }} s'est blessé et est sortie {{ event.tempsDeSortie }} du terrain</h5>
                                                </div>
                                            {% else %}
                                                <div style="position: absolute; left: 0;">
                                                    <h5>{{ event.sortieJoueur }} est sorti définitivement</h5>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% elseif event == "faute" %}
                                        <div style="position: absolute; left: 0;">
                                            <h5>{{ event.joueur }} a été sanctionné d'un {{ event.sanction.nom }} par {{ event.arbitre }}</h5>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-12 d-flex flex-column align-items-center">
        </div>
    </div>
{% endblock %}