<div id="stade">
    <div class="player_name" id="gardien" data-poste="7" data-position="0">
        <h3>?</h3>
        <p>?</p>
    </div>
    <div class="player_name" id="arriere_droit" data-poste="6" data-position="2">
        <h3>?</h3>
        <p>?</p>
    </div>
    <div class="player_name" id="arriere_gauche" data-poste="6" data-position="3">
        <h3>?</h3>
        <p>?</p>
    </div>
    <div class="player_name" id="milieu_defensif_droit" data-poste="5" data-position="2">
        <h3>?</h3>
        <p>?</p>
    </div>
    <div class="player_name" id="milieu_defensif_gauche" data-poste="5" data-position="3">
        <h3>?</h3>
        <p>?</p>
    </div>
    <div class="player_name" id="ailier_droit" data-poste="2" data-position="2">
        <h3>?</h3>
        <p>?</p>
    </div>
    <div class="player_name" id="ailier_gauche" data-poste="2" data-position="3">
        <h3>?</h3>
        <p>?</p>
    </div>
    <div class="player_name" id="milieu_centre" data-poste="4" data-position="1">
        <h3>?</h3>
        <p>?</p>
    </div>
    <div class="player_name" id="avant_droit" data-poste="1" data-position="2">
        <h3>?</h3>
        <p>?</p>
    </div>
    <div class="player_name" id="avant_gauche" data-poste="1" data-position="3">
        <h3>?</h3>
        <p>?</p>
    </div>
    <div class="player_name" id="avant_centre" data-poste="1" data-position="1">
        <h3>?</h3>
        <p>?</p>
    </div>
</div>