{% extends "template/base.html.twig" %}

{% block content %}
    <div>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
            </tr>
            </thead>
            <tbody>
            {% if players|length > 0 %}
                {% for player in players %}
                    <tr scope="row">
                        <td>{{ player.nom }}</td>
                        <td>{{ player.prenom }}</td>
                        <td><a class="btn btn-dark" href="{{ path('stats_joueur',{'id' : player.id}) }}">Stats</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="text-danger">
                        Il n'y a aucun joueur pour le moment
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>


    <a href="{{ path("player_add") }}">
        <button class="btn btn-small btn-primary mt-5">Ajouter un joueur</button>
    </a>
{% endblock %}