$color-danger: #f9352f;

.table {
    text-align: center;
    border-radius: 3px;
    thead {
        border-radius: 3px;
        tr {
            background-color: #242424;

            th {
                color: white;
            }
        }
    }
}

.own-card {
    background-color: #fffffe;
    border-radius: 3px;
}

.text-danger {
    color: $color-danger !important;
}

.navbar-brand {
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}