{% extends "template/base.html.twig" %}

{% block content %}
    <div>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Statistiques de l'equipe</th>
            </thead>
            <tbody>
            <tr>
                <td scope="col">Temps moyen de présence des joueurs</td>
                <td scope="col">{{ temps_moy_joueur|round(2, 'floor') ~"%" }}</td>
            </tr>
            <tr>
                <td scope="col">Nombre total de but marqué</td>
                <td scope="col">{{ nbTotalDeBut }}</td>
            </tr>
            <tr>
                <td scope="col">Nombre total de cartons rouge</td>
                <td scope="col">{{ nbRouge }}</td>
            </tr>
            <tr>
                <td scope="col">Nombre total de cartons jaune</td>
                <td scope="col">{{ nbJaune }}</td>
            </tr>
            <tr>
                <td scope="col">Nombre de victoire</td>
                <td scope="col">{{ victoire.nbVictoire ~ " Victoires ( "~ victoire.ratio|round(2, 'floor') ~"% de réussite )" }}</td>
            </tr>
            {% if dreamteam is not empty %}
                <tr>
                    <td scope="col">Combinaison Avants/ailiers la plus efficace ( {{ dreamteam.nbVictoires }} victoires)</td>
                    <td scope="row">
                        <ul>
                            <li>
                                Avant droit :{{ dreamteam.joueur_1.prenom ~ " " ~ dreamteam.joueur_1.nom }}
                            </li>
                            <li>
                                Avant gauche :{{ dreamteam.joueur_2.prenom ~ " " ~ dreamteam.joueur_2.nom }}
                            </li>
                            <li>
                                Aillier droit :{{ dreamteam.joueur_3.prenom ~ " " ~ dreamteam.joueur_3.nom }}
                            </li>
                            <li>
                                Aillier gauche :{{ dreamteam.joueur_4.prenom ~ " " ~ dreamteam.joueur_4.nom }}
                            </li>
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td scope="col">Pas assez d'informations pour déterminer la meilleure combinaison Avant/Aillier la plus efficace</td>
                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>


{% endblock %}