{% extends "template/base.html.twig" %}

{% block content %}
    <div>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Statistiques du match</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="col">Début du match</td>
                <td scope="col">{{ match.date|date("d/m/y - h:i") }}</td>
            </tr>
            <tr>
                <td scope="col">Début de la seconde mi-temps</td>
                <td scope="col">{{ match.date|date_modify("+ " ~ match.premiereMiTemps ~ " minute")|date("h:i") }}</td>
            </tr>
            <tr>
                <td scope="col">Fin du match</td>
                <td scope="col">{{ match.date|date_modify("+ " ~ match.secondeMiTemps ~ " minute")|date("h:i") }}</td>
            </tr>
            <tr>
                <td scope="col">Equipe affronté</td>
                <td scope="col">{{ match.equipeAdverse }}</td>
            </tr>
            <tr>
                <td scope="col">Lieu du match</td>
                <td scope="col">{{ match.lieu }}</td>
            </tr>
            <tr>
                <td scope="col">Maillots utilisé</td>
                <td scope="col">{% if match.typeMaillot %}Principaux{% else %}Alternatif{% endif %}</td>
            </tr>
            <tr>
                <td scope="col">Durée du match</td>
                <td scope="col">{{ match.finMatch }}</td>
            </tr>
            <tr>
                <td scope="col">Capitaine</td>
                {% if match.capitaine %}
                    <td scope="col">{{ match.capitaine.joueur.prenom  ~ ' ' ~ match.capitaine.joueur.nom }}</td>
                {% else %}
                    <td scope="col">Pas de capitaine</td>
                {% endif %}
            </tr>
            <tr>
                <td scope="col">Suppléant</td>
                {% if match.suppleant %}
                    <td scope="col">{{ match.suppleant.joueur.prenom  ~ ' ' ~ match.suppleant.joueur.nom }}</td>
                 {% else %}
                    <td scope="col">Pas de suppléant</td>
                {% endif %}
            </tr>
            <tr>
                <td scope="col">Lister joueurs avec position/poste</td>
                <td scope="col">
                    <table class="table-striped ">
                        <thead>
                        <tr>
                            <th scope="col">Prenom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Poste / Position</th>
                            <th scope="col">Numero</th>
                            <th scope="col">Statut</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if listeJoueurs|length > 0 %}
                            {% for joueur in listeJoueurs %}
                                <tr scope="row">
                                    <td scope="col">{{ joueur.joueur.prenom}}</td>
                                    <td scope="col">{{ joueur.joueur.nom}}</td>
                                    <td scope="col">{{ poste[joueur.poste.id] ~ " "}} {% if joueur.position.id is defined %}{{ position[joueur.position.id]}}{% endif %} </td>
                                    <td scope="col">{{ joueur.numero }}</td>
                                    <td scope="col">{% if joueur.estRemplacant %}Remplacant{% else %}Titulaire{% endif %}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-danger">
                                    Il n'y a aucun arbitre enregistré pour le moment
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td scope="col">Lister arbitres avec principal/assistant</td>
                <td scope="col">
                    <table class="table-striped ">
                        <thead>
                        <tr>
                            <th scope="col">Prenom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Statut</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% if listeArbitres|length > 0 %}
                            {% for arbitre in listeArbitres %}
                                <tr scope="row">
                                    <td scope="col">{{ arbitre.arbitre_prenom }}</td>
                                    <td scope="col">{{ arbitre.arbitre_nom }}</td>
                                    <td scope="col">{% if arbitre.a_estPrincipal %}Principal{% else %}Assistant{% endif %}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-danger">
                                    Il n'y a aucun arbitre enregistré pour le moment
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td scope="col">Evénements de la rencontre</td>
                <td scope="col">
                    <table class="table-striped ">
                        <thead>
                        <tr>
                            <th scope="col">Evenement</th>
                            <th scope="col">Joueur marquant ou entrant</th>
                            <th scope="col">Joueur entrant</th>
                            <th scope="col">Temps de sortie</th>
                            <th scope="col">Minute du match</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if evenements|length > 0 %}
                            {% for evenement in evenements %}
                                <tr scope="row">
                                    <td scope="col">{{ evenement.evenement }}</td>
                                    <td scope="col">{{ evenement.arg1 }}</td>
                                    <td scope="col">{{ evenement.arg2 }}</td>
                                    <td scope="col">{{ evenement.arg3 }}</td>
                                    <td scope="col">{{ evenement.temps }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-danger">
                                    Il n'y a aucun evenement enregistré pour le moment
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}