{% extends "template/base.html.twig" %}

{% block content %}
    <div>
        <div class="container">
            <div class="col-12 text-center">
                <h3>{{ player.nom }} {{ player.prenom }}</h3>
            </div>
        </div>
        <table class="table table-dark">
            <tbody>
                <tr>
                    <td scope="col">Temps total passé sur le terrain</td>
                    <td scope="col">{{ tempsDeJeux|round(2,'floor') }} minutes</td>
                </tr>
                <tr>
                    <td scope="col">Nombre de matches joué</td>
                    <td scope="col">{{ participation }}</td>
                </tr>
                <tr>
                    <td scope="col">Nombre de but marqué</td>
                    <td scope="col">{{ but }}</td>
                </tr>
                    <td scope="col">Temps moyen de presence par match</td>
                    <td scope="col">
                    {% if participation == 0 %}
                        0
                    {% else %}
                        {{ (tempsDeJeux/participation)|round(2,'floor') }} minutes
                    {%  endif %}
                    </td>
                </tr>
                <tr>
                    <td scope="col">Nombre des cartons jaune</td>
                    <td scope="col">{{ jaune }}</td>
                </tr>
                <tr>
                    <td scope="col">Nombre des cartons rouges</td>
                    <td scope="col">{{ rouge }}</td>
                </tr>
                <tr>
                    <td scope="col">Poste de prédilection</td>
                    <td scope="col">
                        {% if null == player.postePredilection %}
                            Pas de poste de prédilection
                        {% else %}
                            {{ player.postePredilection.nom }}
                        {%  endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


{% endblock %}